/*
// Reglas para CSS
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales 'efecto visuales como el hover'
5. Otras / Miselaneos
*/


/* varialble para colores */
:root {
    --primary-100:#FF7F50;
    --primary-200:#dd6236;
    --primary-300:#8f1e00;
    --accent-100:#8B4513;
    --accent-200:#ffd299;
    --text-100:#000000;
    --text-200:#2c2c2c;
    --bg-100:#F7EEDD;
    --bg-200:#ede4d3;
    --bg-300:#c4bcab;
}

@font-face {
    font-family: 'DM Mono', monospace;
    src: url(../fonts/DM_Mono/DMMono-Regular.ttf);
    src: url(../fonts/DM_Mono/DMMono-Medium.ttf);
    src: url(../fonts/DM_Mono/DMMono-MediumItalic.ttf);
    src: url(../fonts/DM_Mono/DMMono-Light.ttf);
    src: url(../fonts/DM_Mono/DMMono-LightItalic.ttf);
    src: url(../fonts/DM_Mono/DMMono-Italic.ttf);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'DM Mono', monospace;
    font-size: 62.5%;
    /* 1rem = 10px*/
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100dvh;
    font-size: 1.6rem;
    /* = 16px por defexto en html*/
    background-color: var(--bg-100);   
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
    font-size: 1.6rem;
    color: var(--text-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    color: var(--text-100);
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

.nav__container {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 36rem;
    height: 6rem;

    display: flex;
    justify-content: space-between;

    background-color: var(--text-100);

    a {
        width: 20%;
        display: grid;
        place-items: center;
        font-size: 2.4rem;
    }
}

.main__home {
    width: 100%;
    min-width: 36rem;
    height: calc(100dvh - 6rem);
    overflow: scroll;
    scrollbar-width: none;

    .main__hader {
        width: 100%;
        height: auto;
        padding: 1.2rem 0;
        text-align: center;

        background-color: var(--bg-200);    
    }
    
    .main__section {
        width: 100%;
        display: grid;
        gap: 1.2rem;
        padding-bottom: 1.2rem;

        .article {
            display: grid;
            gap: 1.2rem;

            img {
                min-width: 360px;
            }

            div {
                display: grid;
                gap: 1.2rem;
                padding: 0 1.2rem;
            }
        }
    }
}

@media (width > 834px) { /*tablet up*/
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }

    .article {
        grid-template-columns: 50% 50%;
    }
}