/*
// Reglas para CSS
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales 'efecto visuales como el hover'
5. Otras / Miselaneos
*/


/* varialble para colores */
:root {
    --primary-100:#FF6B6B;
    --primary-200:#dd4d51;
    --primary-300:#8f001a;
    --accent-100:#00FFFF;
    --accent-200:#00999b;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#0F0F0F;
    --bg-200:#1f1f1f;
    --bg-300:#353535;
}

@font-face {
    font-family: 'DM Mono', monospace;
    src: url(../fonts/DM_Mono/DMMono-Regular.ttf);
    src: url(../fonts/DM_Mono/DMMono-Medium.ttf);
    src: url(../fonts/DM_Mono/DMMono-MediumItalic.ttf);
    src: url(../fonts/DM_Mono/DMMono-Light.ttf);
    src: url(../fonts/DM_Mono/DMMono-LightItalic.ttf);
    src: url(../fonts/DM_Mono/DMMono-Italic.ttf);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'DM Mono', monospace;
    font-size: 62.5%; /* 1rem = 10px*/
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100dvh;
    font-size: 1.6rem; /* = 16px por defexto en html*/
    background-color: var(--bg-100);
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
    color: var(--text-200);
    font-size: 1.6rem;
    line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
}

.container {
    max-width: 76.8rem;
    min-width: 36rem;
    margin: auto;
}

.container__nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;

    display: flex;
    justify-content:space-between;

    a {
        width: 20%;
        display: grid;
        place-items: center;
        font-size: 2.4rem;
    }
}

.main-home {
    width: 100%;
    height: calc(100dvh - 6rem);

    overflow: scroll;
    scrollbar-width: none;

    .main__header {
        position: sticky;
        top: 0;
        padding: 1.2rem 0;
        display: grid;
        place-items: center;
        background-color: var(--primary-100);
        
        h1 {
            color: var(--primary-300);
        }
    }

    .main__section {

        .section__article {
            height: 100dvh;
            width: 100%;
            padding: 1.2rem 0.8rem;

            display: grid;
            gap: 1.2rem;

            background-color: var(--bg-300);

            h2 {
                color: var(--text-200);
                line-height: 1.2em;
                
            }

            article {
                display: grid;
                gap: 1.2rem;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.main-lugares {
    width: 100%;
    height: calc(100dvh - 6rem);

    overflow: scroll;
    scrollbar-width: none;

    .main__header {
        position: sticky;
        top: 0;
        padding: 1.2rem 0;
        display: grid;
        place-items: center;
        background-color: var(--primary-100);
        
        h1 {
            color: var(--primary-300);
        }
    }

    .section__article {
        width: 100%;
            padding: 1.2rem 0rem;

            display: grid;
            gap: 1.2rem;

            background-color: var(--bg-300);

            h2 {
                color: var(--text-200);
                line-height: 1.2em;
                text-align: center;
            }

            > article {
                width: 100%;
                height: auto;
                display: grid;
                grid-template-rows: minmax(6rem, auto) auto 100%;
                background-color: var(--bg-300);

                h3 {
                    display: grid;
                    place-content: center;
                    font-size: 2.2rem;
                    text-align: center;

                    background-color: var(--primary-100);
                    color: var(--primary-300);
                }
                div {
                    padding: 1.2rem 0.8rem;
                }

                img {
                    width: 100%;
                }
            
            }
    }
}